[submodule "awesome/.config/awesome/lain"]
	path = awesome/.config/awesome/lain
	url = git@github.com:copycat-killer/lain.git
[submodule "screen/.config/screen/scripts/workdir.sh"]
	path = screen/.config/screen/scripts/workdir.sh
	url = https://github.com/gutierri/screen-workdir.sh.git
