#include ".local/share/X/colors/typewriter/typewriter.Xresources"

! Fonts
*.font:xft:FreeMono:Bold:pixelsize=14

! Scroll
*scrollBar: false

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! Clickable URLs
URxvt.perl-ext-common: default,matcher,clipboard,url-select,keyboard-select
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
URxvt.matcher.button: 1

! Disable binds C-S
URxvt.iso14755: false
URxvt.iso14755_52: false

! Cursor
URxvt.cursorBlink: 1
urxvt*internalBorder: 4

! xterm
XTerm*cursorBlink: true
XTerm*selectToClipboard: true
xterm*metaSendsEscape: true

! Rofi
rofi.font: Inconsolata 14
rofi.color-enabled: true
rofi.color-window: #EBEBEB, #2F2F2F, #000000
rofi.color-normal: #EBEBEB, #2F2F2F, #EBEBEB, #2F2F2F, #EBEBEB
rofi.color-active: #fdf6e3, #268bd2, #eee8d5, #268bd2, #fdf6e3
rofi.color-urgent: #fdf6e3, #dc322f, #eee8d5, #dc322f, #fdf6e3
rofi.kb-row-up: Up,Control+k,Shift+Tab,Shift+ISO_Left_Tab
rofi.kb-row-down: Down,Control+j
rofi.kb-accept-entry: Control+m,Return,KP_Enter
rofi.kb-remove-to-eol: Control+Shift+e
rofi.kb-mode-next: Shift+Right,Control+Tab,Control+l
rofi.kb-mode-previous: Shift+Left,Control+Shift+Tab,Control+h
rofi.kb-remove-char-back: BackSpace
rofi.sidebar-mode: true

! Qconsole
qconsole*foreground:           base05
qconsole*background:           base00
qconsole*internalBorder:       5
qconsole*utmpInhibit:          true
qconsole*rightScrollBar:       true
