#include ".local/share/Xcolors/default.Xresources"

*.cursorColor:    cc

*.foreground:     fg
*.background:     bg

! Black
*.color0:         black
*.color8:         bblack

! Red
*.color1:         red
*.color9:         bred

! Yellow
*.color3:         yellow
*.color11:        byellow

! Green
*.color2:         green
*.color10:        bgreen

! Blue
*.color4:         blue
*.color12:        bblue

! Magenta
*.color5:         magenta
*.color13:        bmagenta

! Cyan
*.color6:         cyan
*.color14:        bcyan

! White
*.color7:         white
*.color15:        bwhite

! xterm {{{
xterm*faceName: Go Mono
xterm*faceSize: 11
xterm*renderFont: true
xterm*scrollBar: false
xterm*rightScrollBar: true
xterm*metaSendsEscape: true
xterm*savelines: 9666
xterm*locale: false
xterm*utf8: true
xterm*cursorBlink: true
xterm*scrollTtyOutput: false
xterm*scrollKey: true
xterm*selectToClipboard: true
xterm*termName: xterm-256color
xterm*visualBell: off
! }}}

! rofi {{{
rofi.color-enabled: true
rofi.color-window: bg, cc, bg
rofi.color-normal: bg, fg, bg, fg, bg
rofi.color-active: yellow, green, magenta, blue, cyan
rofi.color-urgent: yellow, green, magenta, blue, cyan
rofi.sidebar-mode: true
rofi.kb-row-up: Up,Control+k,Shift+Tab,Shift+ISO_Left_Tab
rofi.kb-row-down: Down,Control+j
rofi.kb-accept-entry: Control+m,Return,KP_Enter
rofi.kb-remove-to-eol: Control+Shift+e
rofi.kb-mode-next: Shift+Right,Control+Tab,Control+l
rofi.kb-mode-previous: Shift+Left,Control+Shift+Tab,Control+h
rofi.kb-remove-char-back: BackSpace
! }}}

! qconsole {{{
qconsole*faceName: Go Mono:size=10:antialias=true
qconsole*internalBorder: 5
qconsole*utmpInhibit: true
qconsole*rightScrollBar: true
qconsole*metaSendsEscape: true
! }}}
